.employeeContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.employee {
    margin: .3rem 1rem;
    padding: 0.5rem;
    border: solid black;
    background-color: white;
}

.employee__name {
    margin-bottom: 0.5rem;
    font-weight: bold;
}