.productContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.product {
margin: 1rem;
padding: 0.5rem;
border: solid black;
}

.product__name {
    margin: 0.5rem 0rem;
    font-weight: bold;
}